{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <h1>OtherOverlays</h1>
    </a>
    <p>Some missing overlays that Facebook hasn't (yet) neatly facilitated... easy to create and download.</p>
  </div>
</div>
<div id="main-content" class="container"></div>

<script type="text/babel">
  $(function(){

    ReactDOM.render(
      <h1>Hello, world!</h1>,
      document.getElementById('main-content')
    );

    var debugInitialState = {
      fbUrl: "http://facebook.com/danieljsj",
      fbId: "1146150058",
      imgUrl: "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
    };

    var prodInitialState = { 
      fbUrl: "",
      fbId: "", 
      imgUrl: ""
    };

    var FbUrlForm = React.createClass({
      render: function() {
        return (
          <form className="fbUrlForm" onSubmit={this.handleSubmit}>
            <label>Your facebook url:
              <input ref="fbUrl" type="text" placeholder="e.g. http://www.facebook.com/danieljsj"/>
            </label>
            <input type="submit" value="show my photo"/>
          </form>
        );
      },

      handleSubmit: function(e){
        e.preventDefault();
        var fbUrl = this.refs.fbUrl.value.trim();
        var graphUrl = fbUrl.replace("www.facebook.com", "graph.facebook.com")
        $.ajax({
          url: 'getFbIdFromUrl/'+encodeURIComponent(fbUrl),
          cache: false,
          success: function(response){
            alert(response);
          }.bind(this)
        });
      }

    });

    var FbProfilePicBox = React.createClass({

      getInitialState: function(){
        return debugInitialState;
      },

      render: function(){
        return (
          <div id="FbProfilePicBox">
            <h1>Facebook</h1>
            <FbUrlForm />
            <div id="FbProfilePicImg">
              <label>Original Profile Picture:</label>
              <img src={this.state.imgUrl} height="300" width="300" />
            </div>
          </div>
        );
      }
    });


    ReactDOM.render(
      <FbProfilePicBox />,
      document.getElementById("main-content")
    );

  });


</script>

{% endblock %}